/vendor/
/composer.lock
/debian/debhelper-build-stamp
/debian/php-flexibee-reminder.debhelper.log
/debian/php-flexibee-reminder.postrm.debhelper
/debian/php-flexibee-reminder/
/nbproject/private/
/debian/.debhelper/
/debian/flexibee-reminder/
/debian/flexibee-reminder-sms/
/debian/php-flexibee-reminder-sms/
/debian/php-flexibee-reminder-sms.debhelper.log
/debian/php-flexibee-reminder-sms.substvars
/debian/php-flexibee-reminder.substvars
/debian/files
/debian/flexibee-reminder-gnokii/
/debian/abraflexi-reminder-sms/
/debian/abraflexi-reminder-gnokii/
/debian/abraflexi-reminder/
/debian/abraflexi-reminder-gnokii.debhelper.log
/debian/abraflexi-reminder-sms.debhelper.log
/debian/abraflexi-reminder-sms.substvars
/debian/abraflexi-reminder.debhelper.log
/debian/abraflexi-reminder.postrm.debhelper
/debian/abraflexi-reminder.substvars
/debian/cron-abraflexi-reminder.debhelper.log
/debian/abraflexi-reminder-huaweiapi/
/debian/cron-abraflexi-reminder/
/debian/abraflexi-reminder-gnokii.substvars
/debian/abraflexi-reminder-huaweiapi.debhelper.log
/debian/abraflexi-reminder-huaweiapi.substvars
/debian/cron-abraflexi-reminder.substvars
/.env
