/vendor/
/composer.lock
/debian/debhelper-build-stamp
/debian/flexibee-reminder.debhelper.log
/debian/flexibee-reminder.postrm.debhelper
/debian/flexibee-reminder/
/nbproject/private/
/debian/flexibee-reminder-papermail/
/debian/flexibee-reminder-sms/
/debian/files
/debian/flexibee-reminder-papermail.debhelper.log
/debian/flexibee-reminder-papermail.substvars
/debian/flexibee-reminder-sms.debhelper.log
/debian/flexibee-reminder-sms.substvars
/debian/flexibee-reminder.substvars
