<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="all">
            <directory>./tests/AbraFlexi/Reminder</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src/AbraFlexi/Reminder</directory>
        </include>
    </source>

    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
</phpunit>
