Source: flexibee-reminder
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/flexibee-reminder

Package: flexibee-reminder
Depends: ${misc:Depends}, php-flexibee-config, php-flexibee-bricks, php-cli
Suggests: flexibee-server, flexibee-digest, flexibee-matcher
Architecture: all
Section: web
Priority: optional
Description: Reminder sender for FlexiBee
 Find All unpayed invoices for configured company and sent notification to payer

Package: flexibee-reminder-sms
Depends: ${misc:Depends}, flexibee-reminder
Architecture: all
Section: web
Priority: optional
Description: SMS Suppot for Reminder sender for FlexiBee 
 Can send SMS using Gnokii (local or remote via ssh)  and Axfone API

Package: flexibee-reminder-papermail
Depends: ${misc:Depends}, flexibee-reminder
Architecture: all
Section: web
Priority: optional
Description: Paper mail support for Reminder sender for FlexiBee
 Sends reminds as Paper Mail using www.listonoska.cz
