Source: abraflexi-reminder
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/abraflexi-reminder

Package: abraflexi-reminder
Depends: ${misc:Depends}, php-vitexsoftware-abraflexi-bricks, php-cli, php-gd, locales-all, php-vitexsoftware-ease-core (>= 1.38) 
Suggests: abraflexi-server, abraflexi-digest, abraflexi-matcher, abraflexi-client-config
Architecture: all
Section: web
Priority: optional
Description: Remind sender for abraflexi
 Find All unpayed invoices for configured company and sent notification to payer

Package: multiflexi-abraflexi-reminder
Depends: abraflexi-reminder, multiflexi
Architecture: all
Section: web
Priority: optional
Description: MultiFlexi configuration of AbraFlexi Reminder
 Set up AbraFlexi Reminder tools in MultiFlexi

Package: cron-abraflexi-reminder
Depends: ${misc:Depends}, abraflexi-reminder 
Suggests: abraflexi-reminder-gnokii
Architecture: all
Section: web
Priority: optional
Description: Run reminder every morning
 Cron configuration to run reminder every monrning

Package: abraflexi-reminder-sms
Depends: ${misc:Depends}, abraflexi-reminder 
Suggests: abraflexi-reminder-gnokii
Architecture: all
Section: web
Priority: optional
Description: SMS Suppot for Remind sender for abraflexi 
 Can send SMS using Gnokii (local or remote via ssh)  and Axfone API

Package: abraflexi-reminder-gnokii
Depends: ${misc:Depends}, gnokii-cli
Architecture: all
Section: web
Priority: optional
Description: Gnokii helper for Remind sender for abraflexi
 Allow send abraflexi SMS Reminds using Gnokii 

Package: abraflexi-reminder-huaweiapi
Depends: ${misc:Depends}, abraflexi-reminder-sms, php-hspdev-huaweiapi, jq
Architecture: all
Section: web
Priority: optional
Description: LTE Cube SMS sender
 Sends reminds as SMS using Huawei E5180 API
