#!/usr/bin/make -f

%:
	dh $@ --with phpcomposer

override_dh_auto_build:
	# Generate custom Debian autoloader for application
	cat > debian/autoload.php <<'AUTOLOADER'
	<?php
	// Debian autoloader for abraflexi-reminder
	require_once '/usr/share/php/AbraFlexi/autoload.php';
	require_once '/usr/share/php/AbraFlexiBricks/autoload.php';
	// PSR-4 autoloader for application classes
	spl_autoload_register(function (string $$class): void {
	    if (strncmp('AbraFlexi\\Reminder\\', $$class, 19) === 0) {
	        $$file = '/usr/lib/abraflexi-reminder/Reminder/' . str_replace('\\', '/', substr($$class, 19)) . '.php';
	        if (file_exists($$file)) { require $$file; }
	    }
	});
	AUTOLOADER

override_dh_prep:
	rm -rf vendor
	dh_prep

override_dh_install:
	dh_install
	# Install Debian autoloader
	install -D -m 0644 debian/autoload.php debian/abraflexi-reminder/usr/share/php/abraflexi-reminder/autoload.php
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/conf/composer.json |sponge debian/abraflexi-reminder/usr/lib/abraflexi-reminder/composer.json
	sed -i -e 's/..../\/usr\/share\/locale/g'            	      debian/abraflexi-reminder/usr/share/abraflexi-reminder/*.php
	sed -i -e 's/..../\/usr\/share\/php\/abraflexi-reminder/g' 	      debian/abraflexi-reminder/usr/share/abraflexi-reminder/*.php
	sed -i -e 's/.\/AbraFlexi\/Reminder\/Notifier/\/usr\/lib\/abraflexi-reminder\/Reminder\/Notifier/g'    debian/abraflexi-reminder/usr/share/abraflexi-reminder/*.php
	sed -i -e 's/..\/bin/\/usr\/bin/g'                                    debian/abraflexi-reminder-gnokii/usr/lib/abraflexi-reminder/Reminder/*Gnokii.php
	sed -i -e 's/..\/.env//'                                  debian/abraflexi-reminder/usr/share/abraflexi-reminder/*.php
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/clear_reminder_labels.multiflexi.app.json |sponge  debian/multiflexi-abraflexi-reminder/usr/lib/abraflexi-reminder/multiflexi/clear_reminder_labels.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/debts_overview.multiflexi.app.json |sponge  debian/multiflexi-abraflexi-reminder/usr/lib/abraflexi-reminder/multiflexi/debts_overview.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/inventarize.multiflexi.app.json |sponge  debian/multiflexi-abraflexi-reminder/usr/lib/abraflexi-reminder/multiflexi/inventarize.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/abraflexi-reminder.multiflexi.app.json |sponge  debian/multiflexi-abraflexi-reminder/usr/lib/abraflexi-reminder/multiflexi/abraflexi-reminder.multiflexi.app.json
